<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Upload Date</th>
      <th>Size</th>
      <th>Sharing</th>
    </tr>
  </thead>
  <tbody>
    <%- @user.documents.each do |document| -%>
      <tr>
        <td><%= document.name %></th>
        <td><%= document.created_at%>
        <td><p>100 kb</p></td>
        <td><p>false</p></td>
      </tr>
    <%- end -%>
  </tbody>
</table>