<h2> Shared Files </h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Upload Date</th>
      <th>Size</th>
      <th>Action</th>
      <th>Shared by</th>
      
    </tr>
  </thead>
  <tbody>
<%= render @shared_documents, shared_by: true %>
</tbody>
</table>
